header {
    background-image: url(../img/hero.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
}

.hero {
    text-align: center;
    height: 50vh;
    // margin-left: 50%;
    @media (min-width: 576px) {
        margin-left: 50%;
    }

    h1 {
        text-transform: uppercase;
    }
    p {
        max-width: 35rem;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: var(--spacing);
    }

    &-btn {
        padding: 0.9rem 1.6rem;
        font-size: 1.25rem;
        background-color: $clr-primary-3;
        color: $color-white;
    }
    &btn:hover {
        background: transparent;
        color: var(--clr-white);
        border-color: var(--clr-white);
    }
}
