$color-primary: #2CAEBA;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$clr-primary-1: #d0ebec;
$clr-primary-2: #102A42;
$clr-primary-3: #2CAEBA;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$spacing: 0.25rem;